@import url("http://fonts.cdnfonts.com/css/myriad-pro");
* {
  font-family: "Myriad Pro", sans-serif;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

h1 {
  color: #005a42;
}

p {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Menu style */

.menu {
  align-items: center;
  background-color: #005a42;
  display: flex;
  height: 10%;
  justify-content: center;
  width: 100%;
}

.navigation {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 80%;
}

/* Pesquisar no site */
.search {
  align-items: center;
  display: flex;
  justify-content: center;
}

.search a {
  color: aliceblue;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  font-weight: 800;
}

.search a:hover {
  border: 2px solid #231f20;
  border-radius: 10px;
  color: aliceblue;
  transition: 0.2s;
}

/* background meio site */

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.content .overlay-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.content-two {
  align-items: center;
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  justify-content: center;
  margin: 30px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
}

.overlay {
  align-items: center;
  background: hsla(145, 29%, 16%, 0.4);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
}

/* Main */
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Organizador metade do site */
.show-site {
  align-items: center;
  /* background-color: #231f2036; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-top: 20px;
  position: relative;
  width: 80%;
}

/* .start {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 20px;
} */

.mid-show {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  width: 80%;
  z-index: 1000;
}

.img-logo {
  width: 100%;
}

.img-logo img {
  width: 50%;
}

.welcome {
  color: aliceblue;
  font-size: 15vh;
  font-weight: 800;
  position: absolute;
  right: 0;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

/* Especificações */

.location {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-size: 3.5vh;
  font-weight: 600;
}

.map {
  border: 2px solid hsla(145, 52%, 46%);
}

.map iframe {
  border: 0;
  height: 20vh;
  max-height: 50%;
  min-height: 300px;
  max-width: 100%;
  min-width: 300px;
  width: 200vh;
}

.evaluate {
  color: #005a42;
  font-weight: 800;
  text-decoration: none;
}

.evaluate:hover {
  color: #231f20;
}

/* end-page */
.end-page {
  align-items: center;
  background-color: #005a42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.mini-logo {
  width: 100%;
}

.mini-logo img {
  max-width: 25%;
}

.icon-whatsapp {
  align-items: center;
  background-color: #231f20;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
  max-height: 50px;
  max-width: 50px;
  height: 300px;
  width: 300px;
  z-index: 1000;
}

.icon-whatsapp:hover {
  background-color: #34af23;
  border: 2px solid #231f20;
  transition: 0.5s;
}

.icon-whatsapp img {
  color: white;
  max-width: 45px;
  width: 25px;
}

/* End-page */

.end-page_descriptions {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0;
}

.end-page_descriptions a {
  align-items: center;
  color: aliceblue;
  display: flex;
  font-size: 20px;
  font-weight: 800;
  justify-content: center;
  padding: 5px;
  text-decoration: none;
}

.end-page_descriptions a:hover {
  border: 2px solid #231f20;
  border-radius: 10px;
  transition: 0.5s;
}

.end-page_descriptions i {
  font-size: 20px;
  padding: 3px;
}
